.eggs/
.mypy_cache/
.pytest_cache/
.cache/
transconvec
*.egg-info
*.pyc
__pycache__
out/
*~
parallellog

# Compiled Object files
*.pyf
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
